.App {
  text-align: center;
  background-color: #202020;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.championLink img {
  padding: 10px;
  width: 75px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

.championList {
  background-color: #3c3c3c;
  padding: 20px;
  border: 1px solid #232323;
  border-radius: 10px;
}
.championSearch {
  height: 50px;
  margin: 50px 0 0 0;
}
.championSearch input {
  float: left;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
