.App {championAbilitiesLevelList
  text-align: center;
  background-color: #202020;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.championLink img {
  padding: 10px;
  width: 75px;
  margin: 0 auto;
}

.championAbilities {
  border-radius: 15px;
  background-color: #3c3c3c;
  margin: 50px 0 0 0;
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 20px;
}

.championAbilities li {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  float: left;
}

.championAbilities li img {
  margin: 0 10px 0 0;
  float: left;
  height: 40px;
}

.championAbilities li h4 {
  float: left;
  display: inline-block;
  line-height: 35px;
  font-size: 1em;
  text-align: left;
  color: #EFEFEF;
}

.championAbilitiesLevelList {
  padding: 0;
  width: calc(100% - 50px);
  height: 100%;
  float: left;
  list-style-type: none;
}

.championAbilitiesLevelList li {
  width: calc(100% / 18);
  height: 100%;
  float: left;
  border: 1px solid #2C2C2C;
}

.championAbilitiesLevelList li.leveled {
  background-color: #EFEFEF;
}

.App-link {
  color: #61dafb;
}

.roleImage {
  margin: 0 20px 0 0 ;
  float: left;
  height: 60px;
}

.championTitle, .championSubtitle {
  text-align: left;
  color: #EFEFEF;
}


.championDetail {
  margin: 5vh 0;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
}

.championDetailOverlay {
  border-radius: 15px;
  padding: 40px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.detailImage {
  float: left;
}

.statList {
  padding: 0;
  text-align: left;
  color: white;
  list-style-type: none;
}

.championList {
  background-color: #3c3c3c;
  padding: 20px;
  border: 1px solid #232323;
  border-radius: 10px;
}
.championSearch {
  height: 50px;
  margin: 50px 0 0 0;
}
.championSearch input {
  float: left;
  border-radius: 5px;
}

td.level {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

td.level img {
  height: 100%;
}

.skillOrderTable {
  width: 100%;
}

.skillOrderTable tr td {
  background-color: #3333337d;
}

.skillOrder {
  margin: 10vh 0 0 0;
}

td.leveled {
  background-color: #E0E0E0 !important;
}
.skillOrderTable th {
  width: 50px;
  text-align: center;
  color: #F1F1F1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
